<p-card header="Sales" *ngIf="items">

	<p-table #table 
		[columns]="items.column"
		[value]="items.data"
		dataKey="productID"
		[rows]="10"
		(onEditComplete)="onEditComplete($event)"
		[showCurrentPageReport]="true"
		[rowsPerPageOptions]="[10,25,50]"
		styleClass="p-datatable-gridlines"
		[paginator]="true"
		currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
		[globalFilterFields]="items.filters">

		<ng-template pTemplate="caption">
			<div class="p-d-flex p-ai-center p-jc-between">
				<button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="newClick()"></button>

				<span class="p-input-icon-left">
					<i class="pi pi-search"></i>
					<input pInputText
						type="text"
						[(ngModel)]="searchText"
						(input)="table.filterGlobal(searchText, 'contains')"
						placeholder="Search keyword" />
				</span>
			</div>
		</ng-template>

		<ng-template pTemplate="header" let-columns >
			<tr>
				<ng-container *ngFor="let column of columns">
				<th 
					pSortableColumn="{{column.field}}"
					[attr.colspan]="column.subHeaders?column.subHeaders.length:1"
					[attr.rowspan]="column.subHeaders?1:2">
					{{column.header}}
					<p-sortIcon field="{{column.field}}" *ngIf="column.field"></p-sortIcon>
				</th>
				</ng-container>
			</tr>
			<tr>
				<ng-container *ngFor="let column of columns">
				<ng-container *ngIf="column.subHeaders">
				<ng-container *ngFor="let subColumn of column.subHeaders">
				<th 
					pSortableColumn="{{subColumn.field}}">
					{{subColumn.header}}
					<p-sortIcon field="{{subColumn.field}}"></p-sortIcon>
				</th>
				</ng-container>
				</ng-container>
				</ng-container>
			</tr>
		</ng-template>

		<ng-template pTemplate="body" let-product>

			<tr>

				<ng-container *ngFor="let column of items.column">

					<ng-container *ngIf="column.subHeaders; else col">

						<ng-container *ngFor="let column of column.subHeaders">
							<td pEditableColumn [pEditableColumnField]="column.field">
								<p-cellEditor>
									<ng-template pTemplate="input">
										<input pInputText [(ngModel)]="product[column.field]">
									</ng-template>
									<ng-template pTemplate="output">
									{{product[column.field]}}
									</ng-template>
								</p-cellEditor>
							</td>
						</ng-container>

					</ng-container>

					<ng-template #col>

						<td pEditableColumn [pEditableColumnField]="column.field">
							<p-cellEditor>
								<ng-template pTemplate="input">
									<input pInputText [(ngModel)]="product[column.field]">
								</ng-template>
								<ng-template pTemplate="output">
								{{product[column.field]}}
								</ng-template>
							</p-cellEditor>
						</td>

					</ng-template>

				</ng-container>

			</tr>

		</ng-template>

	</p-table>

	<p-dialog
		[(visible)]="dialog"
		[style]="{width: '500px;', height:'950px'}"
		header=""
		[modal]="true"
		styleClass="p-fluid">

		<app-new-product [modal]="true" [onSave]="onNewProductSave"></app-new-product>

	</p-dialog>

</p-card>