<p-card header="Sales" *ngIf="items">

	<p-table #table 
		[columns]="items.column"
		[value]="items.data"
		dataKey="productID"
		[rows]="10"
		[showCurrentPageReport]="true"
		[rowsPerPageOptions]="[10,25,50]"
		styleClass="p-datatable-gridlines"
		[paginator]="true"
		currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
		[globalFilterFields]="item.filters">

		<ng-template pTemplate="caption">
			<div class="p-d-flex p-ai-center p-jc-between">
				<button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="newClick()"></button>
				<button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"></button>
				<span class="p-input-icon-left">
					<i class="pi pi-search"></i>
					<input pInputText type="text" placeholder="Search keyword" />
				</span>
			</div>
		</ng-template>

		<ng-template pTemplate="header" let-columns>
			<tr>
				<ng-container *ngFor="let column of columns">
				<th 
					pSortableColumn="{{column.field}}"
					[attr.colspan]="column.subHeaders?column.subHeaders.length:1"
					[attr.rowspan]="column.subHeaders?1:2">
					{{column.header}}
					<p-sortIcon field="{{column.field}}" *ngIf="column.field"></p-sortIcon>
				</th>
				</ng-container>
			</tr>
			<tr>
				<ng-container *ngFor="let column of columns">
				<ng-container *ngIf="column.subHeaders">
				<ng-container *ngFor="let subColumn of column.subHeaders">
				<th 
					pSortableColumn="{{subColumn.field}}">
					{{subColumn.header}}
					<p-sortIcon field="{{subColumn.field}}"></p-sortIcon>
				</th>
				</ng-container>
				</ng-container>
				</ng-container>
			</tr>
		</ng-template>

		<ng-template pTemplate="body" let-rowData let-columns>
			<tr>
				<ng-container *ngFor="let column of columns">
				<td pEditableColumn>
					<p-cellEditor>
						<ng-template pTemplate="input">
							<input pInputText type="text" [(ngModel)]="rowData[col.field]"/> 
						</ng-template>
						<ng-template pTemplate="output">
							{{rowData[col.field]}}
						</ng-template>
					</p-cellEditor>
				</td>
				</ng-container>
			</tr>
		</ng-template>

	</p-table>

</p-card>