<p-card header="Requirements">


			<ul>
				<li>1. The application should be self-contained, without requiring access to any backend.</li>
				<li>2. The only external data provider allowed is the provided JSON file.</li>
				<li>3. The application must have a login page with a mock validation where
					<ul>
						<li>a. It returns an error if the username and password are not valid.</li>
						<li>b. It directs the user to “welcome” page if the login is successful.</li>
					</ul>
				</li>
				<li>4. The Welcome page must contain links to the following pages:
					<ul>
						<li>a. New Product</li>
						<li>b. Sales</li>
					</ul> <i>Please note that links should not be implemented via direct HTML hardcode but with routing. The links may be
						presented in a toolbar.</i>
				</li>
				<li>5. The “New Product” page must have a form with the following information:
					<table border="1">
						<thead>
							<tr>
								<th>Form field</th>
								<th>Type</th>
								<th>Dimension</th>
								<th>Is required</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Product name</td>
								<td>String</td>
								<td>50</td>
								<td>Yes</td>
							</tr>
							<tr>
								<td>Product ID</td>
								<td>Integer</td>
								<td>13</td>
								<td>Yes</td>
							</tr>
							<tr>
								<td>Product manager</td>
								<td>String</td>
								<td>30</td>
								<td>No</td>
							</tr>
							<tr>
								<td>Sales start date</td>
								<td>Date</td>
								<td>10</td>
								<td>Yes</td>
							</tr>
						</tbody>
					</table> The form should validate for correct content and mandatory fields. Submit and clear buttons must be available.
				</li>
				<li>6. The “Sales” page should display a data grid with the following header:
					<table border="1">
						<thead>
							<tr>
								<th rowspan="2">Product ID</th>
								<th rowspan="2">Product Name</th>
								<th colspan="4">Sales</th>
								<th rowspan="2">Total sales</th>
							</tr>
							<tr>
								<th>2019Q1</th>
								<th>2019Q2</th>
								<th>2019Q3</th>
								<th>2019Q4</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<ul>
						<li>a. Information to populate the grid should be retrieved from the provided JSON file.</li>
						<li>b. Column names should not be hardcoded in the template but retrieved from the provided JSON file.</li>
						<li>c. Total sales value is calculated from the information retrieved from the JSON file.</li>
						<li>d. The data should be sortable per column.</li>
						<li>e. The table should be searchable (simple global search).</li>
					</ul>
			
				</li>
				<li>7. As an improvement, the data entered in the in the “New product” form could be added to the data table (in
					runtime, not on a permanent basis), and the grid should provide a way to enter data for the new product, as well as
					edit the data already displayed. There is no need to save changes to the information.</li>
			</ul>
		</p-card>